<h1> Add new Page</h1>

<div>
    <form method="post" action="/create">
        <fieldset>
            <label for="title">Title:</lable>
            <input type="text" name="title" id ="tile">
        </fieldset>
        <fieldset>
            <label for="content">Content:</label>
            <textarea rows="10" columns="50" name="content"></textarea>
        </fieldset>
        <input type="submit">    
    </form>
</div>    

<a href="/"> back to Index</a>